/tpo/fb/ekctl-EKS-docker/kubectl/dockerImageCreation/eurekaserver/eurekaserver-0.0.1-SNAPSHOT.jar
/tpo/fb/ekctl-EKS-docker/kubectl/dockerImageCreation/fb/FB.war
/tpo/fb/ekctl-EKS-docker/kubectl/dockerImageCreation/exam/exam.war
/tpo/fb/ekctl-EKS-docker/kubectl/dockerImageCreation/student/student.war
