/tpo/fb/ekctl-EKS-docker/kubectl/dockerImageCreation/eurekaserver/eurekaserver-0.0.1-SNAPSHOT.jar
/tpo/fb/ekctl-EKS-docker/kubectl/dockerImageCreation/fb/FB.war
/tpo/fb/ekctl-EKS-docker/kubectl/dockerImageCreation/exam/exam.war
/tpo/fb/ekctl-EKS-docker/kubectl/dockerImageCreation/student/student.war
/tpo/Servers/Tomcat v9.0 Server at localhost-config/catalina.policy
/tpo/Servers/.project
/tpo/Servers/.settings/org.eclipse.core.resources.prefs
/tpo/Servers/.settings/org.eclipse.wst.server.core.prefs
/tpo/Servers/Tomcat v9.0 Server at localhost-config/catalina.properties
/tpo/Servers/Tomcat v9.0 Server at localhost-config/context.xml
/tpo/Servers/Tomcat v9.0 Server at localhost-config/server.xml
/tpo/Servers/Tomcat v9.0 Server at localhost-config/tomcat-users.xml
/tpo/Servers/Tomcat v9.0 Server at localhost-config/web.xml
